/* Base styles */

body:before{
  background: #fff;
}

  .postPortfolio{
    padding: 35px 0;
  }
  
  .container {
    width: 90%;
    margin: auto;
    overflow: hidden;
  }
  
  .postPortfolio h4{
    text-align: center;
    margin-bottom: 0;
    color: #333;
    font-weight: 600;
  }
  
  .postPortfolio h1{
    text-align: center;
    padding-bottom: 1rem;
    margin-top: 5px;
    color: #011031;
    font-weight: 800;
  }
  .headingTitle {
    text-align: center;
    padding-bottom: 1rem;
  }
  
  .catListBgStyle {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  .catListItem{
    margin: 0 10px;
  }
  
  .catLink {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    padding: 10px 15px;
    display: block;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
    font-weight: 600;
  }
  
  .catListItem.active .catLink,
  .catLink:hover {
    /* background: #333; */
    background: linear-gradient(90deg, rgb(0 109 255) 0%, rgb(29 84 159) 100%);
    color: #fff;
  }
  
  .projectGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    padding: 0 16px;
  }
  
  .projectItem {
    position: relative;
    width: 23.5%;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s;
    cursor: pointer;
  }
  .postPortfolio .projectItem.graphicsTtem.logoItem {
    height: 80px;
    box-shadow: 10px 0 50px rgba(0, 0, 0, 0.1);
    padding-top: 11px;
  }
  
  .logoItem1 img{
    width: 100%;
    display: block;
    height: 20vh;
    object-fit: contain;
  }
  
  
  
  .projectItem img {
    width: 100%;
    display: block;
    position: relative;
  }
  
  .projectItem .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .projectItem.figmaItem .overlay{
    z-index: 99999;
  }
  
  .projectItem.figmaBanner {
    height: 167px;
  }
  
  .projectItem .overlay a{
    color: #fff;
    text-decoration: none;
  }
  
  .projectItem:hover {
    transform: scale(1.05);
  }
  
  .projectItem:hover .overlay {
    opacity: 1;
  }
  
  /* Modal Styles */
  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
  }
  
  .modalContent {
    max-width: 90%;
    max-height: 80%;
  }
  
  /* #caption {
    margin: auto;
    display: none;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  } */
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  .postPortfolio .projectItem.graphicsItem.logoItem img{
    height: 64px;
    object-fit: scale-down;
  }
  
  .postPortfolio .projectItem{
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .projectGrid.figma{
    padding-bottom: 30px;
  }

  .logoItem img{
    height: 94px;
    object-fit: scale-down;
    padding: 15px 0;
  }

  .figmaBanner {
    height: 167px;
  }

  .projectGrid{
    padding-bottom: 20px;
  }

  .postPortfolio{
    background: #fff !important;
  }
  
  /* Responsive styles */
  @media (max-width: 1200px) {
    .projectItem {
      width: 31%;
    }
  }
  
  @media (max-width: 992px) {
    .projectItem {
      width: 48%;
    }
  }
  
  @media (max-width: 768px) {

    .figmaBanner {
      height: auto !important;
    }
    .catListBgStyle {
      flex-direction: column;
      align-items: center;
    }

    ul.catListBgStyle{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: initial;
    }
  
    .catListItem {
      margin: 5px 0;
    }
  
    .projectItem {
      width: 100%;
    }
  }
  
  @media (max-width: 576px) {
    .catLink {
      font-size: 14px;
      padding: 8px 12px;
    }
  }
  
  @media (max-width: 480px) {
    .projectItem .overlay {
      padding: 5px;
      font-size: 12px;
    }
  }
  

  @media (min-width: 450px) and (max-width: 768px) {
    .projectGrid .projectItem{
      width: 47% !important;
    }
  }