@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
  --card-size: 28rem;
  --perspective: 1000px;
  --bg1: #6d28d9;
  --bg2: #ec4899;
  --text-dark: #111827;
  --muted: #6b7280;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (max-width: 880px) {
  :root {
    --card-size: 22.5rem;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}